


/* Header */

header {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  height: 75px;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  align-items: center;
}

header a {
  
}

#logo {
  color: MediumAquamarine;
}
