


/* Header */

header {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  height: 75px;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  align-items: center;
  /* left-margin: 0; */
}

header a:link {
  color: black;
}

header a:visited {
  color: black;
}

nav span {
  padding-left: 10px;
  padding-right: 10px;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo span {
  color: MediumAquamarine;
}

.logo img {
  margin-right: 20px;
}

/* main */

.container {
  display: flex;
  font-family: Garamond, Bookman, serif;
  font-size: 15px;
  padding-top: 125px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.story {
  border: 1px solid black;
}
